body {
  padding-top: 65px;
}

#createForm {
  width: 70%;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
}

.description {
  padding: 0 25px 0 25px
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  background: white;
  padding-bottom: 15px;
}

.email {
  margin-top: 5px;
  padding-right: 10px;
}

#left {
  margin-top: 35vh;
  text-align: left;
}

#right {
  margin-top: 35vh;
  text-align: right;
}
span {
  color: #009688;
  font-weight: bold;
}

/**** sign up form ******/
.forms {
  margin: 20px auto;
  width: 600px;
  background: white;
}
.container .form-horizontal .control-label {
  text-align: left;
}
.form-group {
  padding-bottom: 0;
  margin: 10px 0 0 0;

}

/*.forms .btn, .input-group-btn .btn, */
.btn:not(.btn-raised).btn-primary {
  border: 2px solid #009688;
  /*background: white;*/
  color: #009688;
}
.forms p {
  color: #BDBDBD;
}
/*****dashboard******/
.dashboard {
  padding: 20px;
}
.dashboard h1 {
  text-align: left;
  margin-bottom: 25px;
}

.dashboard h4 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 27px;
}
.dashboard .row {
  margin: 15px auto 30px;
}

.dashboard img {
  height: 100%;
  width: 100%;
}

/******feed******/
.feedImages {
  height: 200px;
  width: 35%;
  margin-left: 10%;
}

.feed .row {
  margin: 10px auto;
}
.forms .signinError {
  color: red;
}