<div class="container">
  <div class="dashboard" ng-if="dashboard.projects.length">
    <h1><span>WeProjects:</span> Contributing</h1>
    <hr>
    <div class="col-md-4 project-item" ng-repeat='project in dashboard.projects'>
      <h4>{{ project.title }}</h4>
      <div class="image">
        <img src="{{ project.images[0] }}">
      </div>
    </div>
  </div>
  <div class='no-projects' ng-if='!dashboard.projects.length'>
    <h3>Welcome to your Dashboard.</h3>
    <h4>This is normally where we'd show you all the projects to which you've contributed! </h4>

    <h4><a href='#/feed'>Click this link</a> to take a second look at the projects!</h4>

     <h4>If you don't see anything you feel passionate about, <a href='#/create'>click here</a> to create a project of your own!</h4>

  </div>
  
</div>