
<!-- Begin Project Creation View -->
<div class="container forms" id="createForm">
  <form class="form-horizontal">
    <fieldset>
      <legend class="text-left"><span>WE: </span>Create</legend>
      <!-- Title input field -->
      <div class="form-group">
        <label for="inputTitle" class="col-md-2 control-label">Title</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="create.title">
        </div>
      </div>
  
      <!-- Project Owner input field -->
      <div class="form-group">
        <label for="inputOwner" class="col-md-2 control-label">Owner</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="inputOwner" placeholder="Project Owner" ng-model="create.owner">
        </div>
      </div>
      
      <!-- Location input field -->
      <div class="form-group">
        <label for="inputLocation" class="col-md-2 control-label">Location</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="inputLocation" placeholder="Location" ng-model="create.location" ng-autocomplete ng-model="autoComplete">
        </div>
      </div>
      

      <!-- Description input field -->
      <div class="form-group">
        <label for="inputDescription" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
          <textarea class="form-control" row="3" id="inputDescription"ng-model="create.description"></textarea>
        </div>
      </div>

      <div class="form-group"> 
        <label for="inputContribs" class="col-md-2 control-label">Contributors</label>
        <div class="contribs" isteven-multi-select    
          input-model="create.users"    
          output-model="create.contributors"
          button-label="firstName"
          item-label="firstName lastName email"
          tick-property="ticked">
        </div>
      </div>

      

      <!-- Images input field -->
      <div class="form-group">
        <label for="inputImages" class="col-md-2 control-label">Images</label>
        <div class="col-md-10">
          <textarea class="form-control" row="3" id="inputImages"ng-model="create.images"></textarea>
        </div>
        <p style="padding-left:15px"> *please submit image urls separated by a new line</p>
      </div>
      

      <!-- Submit button -->
      <div class="form-group">
        <div class="text-center">
          <button type="submit" class="btn btn-primary" ng-click="create.createProject()">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
